<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="##component##" label="JACTION_COMPONENT_SETTINGS" description="JACTION_COMPONENT_SETTINGS">##fields##
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_##component##"
			section="component"
		/>
	</fieldset>##form##
</config>
